.admin-dashboard {
    display: flex;
    flex-direction: column;
}

.admin-dashboard header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-nav .admin-ul button {
    background-color: white;
    margin: 5px;
}

.card-body li {
    color: black;
}

.table-header {
    color: white
}

div h2 {
    color: white;
}

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-section button {
    color: black;
    border-style: none;
    background-color: white;
}

.search-section button a {
    text-decoration: none;
    color: black;
    background-color: white;
}

.search-section button:hover, .search-section button:hover a {
    background-color: #c6a10d;
    text-decoration: none;
    color: black;
}

.card-footer {
    display: flex;
    justify-content: center;
}

.delete-btn {
    margin-right: 15px;
    background-color: rgb(204, 27, 27);
}

.edit-btn {
    margin-left: 15px;
}

@media (min-width: 768px) {
    .search-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 10px;
    }

    .admin-nav .admin-ul button {
        background-color: white;
        margin: 10px
    }
  
}

