.chart-header {
    color: white;
}

.trends-header {
    margin-left: 50px;
}

.line {
    color: white;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #c6a10d;
    margin: 30px;
    border-width: 2px;
}

.toggle-view {
    text-align: center;
}

.toggle-view label {
    color: white
}